body{
    margin: 0 auto;
    padding: 1px auto;
    background: #707;
}
.card{
    margin: 43px auto;
    background-image: url(./new\ year.png);
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
.text{
    margin: 0 auto;
    color: #A0ABAA;
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.text2{
    margin: 0 auto;
    color: #A0ABAA;
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.Logo{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-image: url(./1.\ Masinerija_Logo\ 1\ \(1\).png);
}